html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'TT Norms', sans-serif;
}

.main {
  width: 100%;
  display: flex;
}

.main-left,
.main-right {
  text-align: center;
  width: 50%;
}
.main-left {
  background: #dddddd;
}

.main-right {
  background: #fafafa;
}

.cnt {
  margin: 60px 74px 77px;
  text-align: left;
}

.cnt-title {
  font-size: 60px;
  line-height: 71px;
  margin-bottom: 40px;
  margin-left: 38px;
}

.chart {
  position: relative;
  margin: 0 40px 40px 40px;
}

.label {
  position: absolute;
  font-size: 48px;
  color: #aaaaaa;
}

.label.first {
  top: 12px;
  left: -55px;
}
.label.second {
  bottom: 12px;
  right: -32px;
}

.chart-left {
  background-color: white;
}

.chart-right {
  background-color: #eeeeee;
}
