html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'TT Norms', sans-serif;
}

.main {
  width: 100%;
  display: flex;
}

.main-left,
.main-right {
  text-align: center;
  width: 50%;
}
.main-left {
  background: #dddddd;
}

.main-right {
  background: #fafafa;
}

.cnt {
  margin: 60px 74px 77px;
  text-align: left;
}

.cnt-title {
  font-size: 60px;
  line-height: 71px;
  margin-bottom: 40px;
  margin-left: 38px;
}

.chart {
  position: relative;
  margin: 0 40px 40px 40px;
}

.label {
  position: absolute;
  font-size: 48px;
  color: #aaaaaa;
}

.label.first {
  top: 12px;
  left: -55px;
}
.label.second {
  bottom: 12px;
  right: -32px;
}

.chart-left {
  background-color: white;
}

.chart-right {
  background-color: #eeeeee;
}

.pulse-value {
  color: #b2485f;
  font-size: 40px;
  line-height: 40px;
  position: absolute;
  left: -74px;
  text-align: right;
  top: calc(50% - 20px);
}

.heart {
  animation: heartbeat 1s infinite;
  background-color: #aaaaaa;
  display: inline-block;
  height: 20px;
  position: absolute;
  margin: 20px 10px 0;
  transform: rotate(-45deg);
  left: 45%;
  width: 20px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #aaaaaa;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  width: 20px;
}

.heart:before {
  top: -10px;
  left: 0;
}

.heart:after {
  left: 10px;
  top: 0;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( 1 )
    rotate(-45deg);
  }
  20%
  {
    transform: scale( 1.25 )
    rotate(-45deg);
  }
  40%
  {
    transform: scale( 1.5 )
    rotate(-45deg);
  }
}
